.pnj {
  background-color: #54BAB9;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: right;
  color: #534340;
  padding-top: 20px;
  padding-bottom: 20px;
}

.pnj a{
color: #534340;
text-decoration: none;
}

.pnj a:hover {
  background: #54BAB9;
  color: black;
}

.bar {
  display: inline;
  padding-right: 30px;
  font-family: "Robotic",sans-serif;
}

  .part3{
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height: 320px;
}

  .part4{
    padding-right: 40px;
  }

body{

  margin:0;


  font-family: "Montserrat",sans-serif;

}

  .part5{
    font-size: 50px;
  }

  .part6{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 7%;
  }

  .part7{
    padding-top: 150px;
  }

    .New2part1{
      padding-top: 50px;
      padding-bottom: 50px;
      background-color: #F3E9DD;

      padding-left: 15%;
      padding-right: 15%;
  }

    .New2part2{
      color: #534340;
      text-align: center;

    }

     .New2part3{
       padding-right: 50px;
 }

     .img1{
       width: 200px;
       height: 200px;
     }

     .New2img1{
       padding-right: 50px;
       width: 100px;

     }

     .New2img2{
       margin-top: 100px;
       width: 245px;
       height: 245px;

     }

     .Experiences{
       padding-left: 50px;
       padding-top: 70px;

     }

     hr{
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 10%;
  padding-bottom: 5px;

     }

     .tableex{
       padding-bottom: 7%;
     }

    .getintouch{
      font-size: 30px;
      color: #534340;
      text-align: center;
    }

     .line1bold{
       font-size: 16px;
       color: #534340;
       text-align: center;
     }

     .line2{
       font-size: 16px;
       color: #534340;
       text-align: center;
     }

  .Submit{
      font-size: 16px;
      color: #534340;
      background-color: #CEAB93;
      border-color: #534340;
      border-width: thin;
      border-style: none;
      width: 80px;
      height: 30px;

  }

     .message{
      width: 250px;
      height: 100px;

     }

    .bottom{
      background-color: #54BAB9;
      width: 100%;
      padding-top: 20px;
      padding-bottom: 20px;

    }

  .ig{
    width: 45px;
    height: 45px;

  }

  .fb{
    width: 45px;
    height: 45px;

  }

  .in{
    width: 45px;
    height: 45px;
  }


  #Bar2 {
    text-align: center;
    display: inline;
  }

.social {
  padding-right: 40px;
}

.contactme {
  padding-bottom: 40px;
}
